@import "../styles//variables.scss";

header {
  background: $item-color;
  max-height: 80px;
  position: sticky;
  z-index: 11;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .filter {
    width: 100%;
    max-width: 980px;
    padding: 10px;

    select {
      color: $font-heading-color;
      font-weight: 700;
      width: 100%;
      padding-left: 30px;
      appearance: none;
      height: 40px;
      font-size: 1rem;
      outline: none;
      border: 1px solid $theme;
      text-transform: uppercase;

      option {
        text-transform: uppercase;
        padding-left: 30px;
        appearance: none;
        background: $item-color;
        height: 30px;
      }
    }
  }
}
main {
  padding: 10px;
  max-width: 980px;
  width: 95%;
  margin: auto;
}
