.loading {
  margin: 46vh auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    opacity: 1;
    animation: flickerAnimation 1s infinite;
  }

  @keyframes flickerAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
