@import "../styles/variables.scss";

.objective {
  background: $item-color;
  margin-top: 30px;
  padding: 20px 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .parent {
    word-break: break-word;
    position: relative;
    display: flex;
    align-items: flex-start;
    font-weight: 600;
    box-shadow: lightgrey;
  }
  img {
    height: 20px;
    width: 20px;
    transition: all 0.25s ease;
  }
  .open {
    transform: rotate(90deg);
  }
  .title {
    margin-left: 5px;
    color: $font-heading-color;
    text-transform: uppercase;
  }

  .child {
    font-size: 0.8rem;
    word-break: break-word;
    margin-left: 30px;
    margin-top: 10px;

    .role {
      padding: 10px;
    }
  }
}
